  <form [formGroup]="userForm" (submit)="saveUser()">
    <label for="name">Name</label>
    <input formControlName="name" id="name"/>
    <app-control-messages [control]="userForm.controls.name"></app-control-messages>

    <label for="email">Email</label>
    <input formControlName="email" id="email"/>
    <app-control-messages [control]="userForm.controls.email"></app-control-messages>

    <label for="profile">Profile Description</label>
    <textarea formControlName="profile" id="profile"></textarea>
    <app-control-messages [control]="userForm.controls.profile"></app-control-messages>

    <button type="submit" [disabled]="!userForm.valid">Submit</button>
  </form>
