table {
  margin: 10px;
  width: 99%;
}

.material-icons:hover {
  cursor: pointer;
}

button {
  height: 45px;
  margin: 5px 10px;
  width: 99%;

  &.add-contact {
    background-color: white;
  }

  &.delete-selected {
    color: red;
  }
}
