table {
  width: 100%;
}

.material-icons:hover {
  cursor: pointer;
}

.add-contact {
  height: 45px;
  width: 100%;
  background-color: white;
  margin: 5px 0;
}

.delete-selected {
  height: 45px;
  width: 100%;
  margin: 5px 0;
  color: red;
}
