<div class="login-container">
  <form [formGroup]="loginForm" (submit)="login()" class="layout">
    <h1>Login!</h1>
    <label for="email">Email</label>
    <input formControlName="email" id="email"/>
    <app-control-messages [control]="loginForm.controls.email"></app-control-messages>

    <label for="password">Password</label>
    <input type="password" formControlName="password" id="password"/>
    <app-control-messages [control]="loginForm.controls.password"></app-control-messages>

    <button type="submit" [disabled]="!loginForm.valid">Submit</button>
  </form>
</div>
