<div class="login-container">

  <form [formGroup]="loginForm" (submit)="login()" class="layout">
    <h1>Login!</h1>
    <label for="user">User</label>
    <input formControlName="user" id="user"/>
    <app-control-messages [control]="loginForm.controls.user"></app-control-messages>

    <label for="password">Password</label>
    <input formControlName="password" id="password"/>
    <app-control-messages [control]="loginForm.controls.password"></app-control-messages>

    <button type="submit" [disabled]="!loginForm.valid">Submit</button>
  </form>
</div>
